# Global fallback (Tech Lead & Project Owner)
* @brodion-230 @iamredl-lab @RiderTr

# CI/CD, Workflows and System Configuration
/.github/                 @brodion-230 @iamredl-lab @RiderTr
/configs/                 @brodion-230 @iamredl-lab @RiderTr
/Dockerfile*              @brodion-230 @iamredl-lab @RiderTr
/.dockerignore            @brodion-230 @iamredl-lab @RiderTr
/package.json             @brodion-230 @iamredl-lab @RiderTr
/pnpm-lock.yaml           @brodion-230 @iamredl-lab @RiderTr
/pnpm-workspace.yaml      @brodion-230 @iamredl-lab @RiderTr
/turbo.json               @brodion-230 @iamredl-lab @RiderTr
/sonar-project.properties @brodion-230 @iamredl-lab @RiderTr
/.oxlintrc.json           @brodion-230 @iamredl-lab @RiderTr

# Core Domain & Shared Contracts
/packages/core/           @brodion-230 @iamredl-lab @Skyzary @RiderTr @Artebah

# Frontend Applications & Design System
/packages/ui/             @Skyzary @Kostik565 @iamredl-lab @RiderTr @Artebah
/packages/uni-hub/        @iamredl-lab @Kostik565 @Skyzary @RiderTr @Artebah

# Backend Services & Database
/packages/backend/        @brodion-230 @iamredl-lab @RiderTr @Skyzary @Artebah
/packages/database/       @brodion-230 @iamredl-lab @RiderTr @Skyzary @Artebah

# End-to-End & Integration Testing
/tests/                   @khaliggo @alnnvsk @brodion-230 @iamredl-lab @blepame

# Product Requirements and Test Cases
/docs/prd/                @brodion-230 @iamredl-lab @RiderTr @alnnvsk @blepame @l-v-s-l
/docs/test-cases/         @brodion-230 @iamredl-lab @RiderTr @alnnvsk @blepame @l-v-s-l
