# Global codeowners
* @brodion-230 @iamredl-lab @RiderTr

# CI/CD, Workflows and System Configuration
/.github/                 @brodion-230 @iamredl-lab @RiderTr
/configs/                 @brodion-230 @iamredl-lab @RiderTr
/Dockerfile*              @brodion-230 @iamredl-lab @RiderTr
/.dockerignore            @brodion-230 @iamredl-lab @RiderTr
/package.json             @brodion-230 @iamredl-lab @RiderTr
/pnpm-lock.yaml           @brodion-230 @iamredl-lab @RiderTr
/pnpm-workspace.yaml      @brodion-230 @iamredl-lab @RiderTr
/turbo.json               @brodion-230 @iamredl-lab @RiderTr
/sonar-project.properties @brodion-230 @iamredl-lab @RiderTr
/.oxlintrc.json           @brodion-230 @iamredl-lab @RiderTr

# Monorepo packages
/packages/backend/        @brodion-230 @Skyzary @RiderTr @iamredl-lab
/packages/uni-hub/        @brodion-230 @iamredl-lab @RiderTr
/packages/ui/             @RiderTr @brodion-230 @iamredl-lab
/packages/database/       @brodion-230 @Skyzary @RiderTr @iamredl-lab
